{% extends 'fashionz/base.html' %} {% load crispy_forms_tags %}
<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>

<body>
    {% block content %}

    <div class="text-center container card m-2 p-2">
        <h3>Reset Password</h3>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5 text-justify">
                <p> Forgot your account’s password or having trouble logging into your account? Enter your email address and we’ll send you a recovery link.</p>
                <form action="" method="POST">
                    {% csrf_token %} {{ form|crispy }}
                    <div>
                        <button class="btn btn-outline-success" type="submit">Request recovery email</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    {% endblock content %}
</body>

</html>
